@{
    ViewData["Title"] = "Home";
}

<h1 class="center-h1">Welcome!</h1>

<p class="toptext">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, quasi aperiam.
    Accusamus necessitatibus molestias, eos id cupiditate quisquam nesciunt aut ipsam quam,
    sint voluptate adipisci quibusdam cumque, magnam numquam culpa.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, quasi aperiam.
    Accusamus necessitatibus molestias, eos id cupiditate quisquam nesciunt aut ipsam quam,
    sint voluptate adipisci quibusdam cumque, magnam numquam culpa.
</p>

<div class="instagram-container">
    <div>
        <a href="https://www.instagram.com/carpe.fucking.korsstygn/" target="_blank"><img src="/img/instagram-logo.png" alt="instagram logo"></a>
    </div>
    <div>
        <h2>Follow me on Instagram!</h2>
        <a href="https://www.instagram.com/carpe.fucking.korsstygn/" target="_blank">@@carpe.fucking.korsstygn</a>
    </div>
</div>